* {
    font-family: 'red hat text';
    margin: 0;
}

.productsRecap {
    background-color: #FDF8F6;
    display: flex;
    padding: 60px 80px;
}

.titleHome {
    font-size: 2rem;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin: auto;
}

.products h1 {
    display: block;
    font-size: 1.5rem;
    text-align: left;
}

.recap {
    width: 30%;
    height: 400px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recap h3 {
    color: hsl(14, 86%, 42%);
}

.cartContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.element {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 8px;
    overflow: hidden;
}

.elementImgContainer img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 15px;
    box-sizing: border-box;
    object-fit: contain;
}

.addToCart {
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #C73C0D;
    width: 50%;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
}

.addToCartBtn {
    border: none;
    background-color: white;
    font-weight: 700;
    cursor: pointer;
}

.addImgBtn {
    display: flex;
    align-items: center;
    margin: 5px;
}

.addToCartBtn:hover {
    color: #C73C0D;
}

.infoProduct {
    font-size: 0.8rem;
}

#price {
    color: hsl(14, 86%, 42%);
    font-weight: 800;
}

.recapEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

/* style sur les éléments créé sur le fichier js */

.cartItem {
    padding: 40px 0px 15px;
    border-bottom: 1px solid #CAAFA6;
    font-size: 0.8rem;
    font-weight: 800;
}

.liRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.totalPrice {
    color: hsl(14, 25%, 72%);
}

.unitPrice {
    color: #A39091;
}

.detailRow {
    display: flex;
    gap: 10px;
}

.cartQuantity {
    color: hsl(14, 86%, 42%);
}

.deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #CAAFA6;
    border-radius: 25px;
    height: 15px;
    width: 15px;
}

.finalPrice {
    display: flex;
    justify-content: space-between;
}

.quantityContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C73C0D;
    width: 100%;
    padding: 5px;
    color: white;
}

.decrButton,
.incrButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    height: 13px;
    width: 13px;
    border-radius: 25px;
}

.bottomRecap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;

}

.infoDelivery {
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    background-color: hsla(15, 4%, 62%, 0.228);
    border-radius: 5px;
}

.confirmOrder {
    width: 92%;
    margin: auto;
}

.confirmOrder button {
    border: none;
    width: 100%;
    background-color: #C73C0D;
    color: white;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.confirmOrder button:active {
    background-color: #962C0C;
}

.orderRecap {
    background-color: white;
    width: 30%;
    height: 70%;
}

.validatedOrder {
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    display: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.validatedOrder button {
    margin: 0 auto;
    border: none;
    width: 90%;
    background-color: #C73C0D;
    color: white;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.validatedOrder button:active {
    background-color: #962C0C;
}

.validatedOrder img {
    width: 50px;
    height: 50px;
}

.orderRecap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}

.enteteRecap {
    margin-bottom: 15px;
}

.enteteRecap h2 {
    font-size: 2rem;
}

.enteteRecap p {
    font-size: 0.9rem;
}

.orderElement {
    display: flex;
    flex-direction: column;
}

.orderProduct {
    display: flex;
    margin: auto;
    align-items: center;
    gap: 20px;
    background-color: #FCF8F6;
    width: 90%;
    border-radius: 5px;
}

.orderProduct {
    padding: 15px;
}

.infoOrderProduct {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: 800;
    width: 100%;
}

.cartPrice {
    display: flex;
    gap: 15px;
}

.quantityPrice {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media only screen and (max-width: 480px) {

    .productsRecap {
        flex-direction: column;
        padding: 0;
    }

    .products {
        margin: 0;
        width: 100%;
    }

    .cartContainer {
        flex-direction: column;
        align-items: center;
    }

    .element {
        width: 90%;
    }

    .recap {
        width: 90%;
        height: auto;
        margin: 20px auto;
        padding: 10px;
    }

    #ulCart {
        padding: 5px;
    }

    .titleHome {
        margin: 10px 20px;
        font-weight: 900;
        font-size: 3rem;
    }

    .validatedOrder {
        height: 100%;
    }

    .orderRecap {
        width: 80%;
        overflow: auto;
    }
}